<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create categories</title>
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="POST" action="/category">
                    <h1>Crear categoria</h1>
                    <br>
                    <br>

                    <input type="text" id="nameCategory" name="nameCategory" placeholder="Name of new category" required>

                  
                    <br>
                    <button type="submit">Crear categoria</button>
                   
                    <br>
                    <a href="/">Home Page</a>
                </form>
                

            </div>
        </div>
        <br>
        <br>
        <div>
            <% if(errors != "") { %>
                <% errors.forEach((item) => { %>
                    <div class="alert alert-danger">
                        <%- item %>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <div>
            <% if(results != "") { %>
                <% results.forEach((item) => { %>
                    <div class="alert alert-success">
                        <%- item %>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </body>
</html>
