<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <div class="container" id="container">
                        <form method="POST" action="/register">
                            <h1>SignUp</h1>
                               
                                <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Full name">
                           
                            
                                <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
                           
                                
                                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                           
                                <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation" required>
                            
                            <button type="submit" class="btn btn-primary">Register</button>
                            <br>
                            <div>
                                If you already have had an account.
                                <a href="/login">Log in</a>.
                            </div>
                            <div>
                                Return to
                                <a href="/">Home Page</a>
                            </div>
                            <br><br>
                        </form>

                        
                       
                   
              
        </div>

        <div>
            <% if(errors != "") { %>
                <% errors.forEach((item) => { %>
                    <div class="alert alert-danger">
                        <%- item %>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </body>
</html>
