<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>


        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="POST" action="/getFunctions">
                    <h1>Buscar Funciones</h1>
                    <br>    
                    <br>
                    <div style="gap: 10px; display: flex;">
                        <label for="option">Nombre Usuario</label>    
                        <input type="radio" id="option" name="option" value="nombreUsuario"> 
                        <label for="option">Nombre Funcion</label>    
                        <input type="radio" id="option" name="option" value="nombreFuncion">
                        <label for="option">Categoría</label>    
                        <input type="radio" id="option" name="option" value="categoria">
                    </div>
                    <input type="text">
                    <select name="cars" id="cars">

                    </select>
                    <button type="submit">Buscar</button>
                    <br>
                    <a href="/">Home Page</a>
                </form>


            </div>
        </div>
        <br><br>
        <div>
            <% if(errors != "") { %>
                <% errors.forEach((item) => { %>
                    <div class="alert alert-danger">
                        <%- item %>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <div>
            <% if(results != "") { %>
                <% results.forEach((item) => { %>
                    <div class="alert alert-success">
                        <%- item %>
                    </div>
                <% }); %>
            <% } %>
        </div>


    </body>
</html>
