<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/showCode.css">
    </head>
    <body>

        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="POST" action="/functions" id="formId"></form>
            </div>
        </div><br>
        <a href="/searchFunctions">Back</a>
    </body>
    <script>

        var testVar = `<%= code %>`;
        var element = document.getElementById("formId");
        var decodeEntities = (function () { // this prevents any overhead from creating the object each time
            function decodeHTMLEntities(str) {
                if (str && typeof str === 'string') { // strip script/html tags
                    str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                    str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                    element.innerHTML = str;
                    str = element.textContent;
                    element.textContent = '';
                }

                return str;
            }

            return decodeHTMLEntities;
        })();

        var text = decodeEntities(testVar);

        element.innerHTML += text;
    </script>
</html>
