.container {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    max-width: 850px !important;
}

.title {
    padding: 10px;
    background-color: rgb(84, 154, 245);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
}

.botones {
    padding: 90px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
}